* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230 125 34 / 50%);
}

body {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 500;
}

.header-second {
  font-size: 4.4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 9.6rem;
  color: #333;
  letter-spacing: -0.5px;
}

.btn,
.btn__link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.center-text {
  text-align: center;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all ease 1s;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.logo {
  height: 2.2rem;
}